<% include ../partials/header%>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 m-auto text-center">
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?" id="profile-picture">
            </div>
            <span class="d-block mt-2" id="profile-username">
                <%=foundUser.username%>
                <%if(user === false){%>
                <form action="/profile/<%=foundUser._id%>" method="post">
                    <button href="" class="btn btn-primary btn-sm">Follow</button>
                </form>
                <%} else if(user && !foundUser._id.equals(user._id)){%>
                <form action="/profile/<%=foundUser._id%>" method="post">
                    <button id="btn_follow" class="btn btn-primary btn-sm">Follow</button>
                </form>
                <%}%>
            </span>
        </div>
        <div class="col-2"></div>
    </div>
    <hr class="m-2">
    <div class="row mt-4">
        <% if(userCampgrounds.length>0){%>
        <%userCampgrounds.forEach(camp=>{ %>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card m-2">
                <div class="card-body p-0">
                    <img src="<%= camp.url %>" class="card-img-top">
                    <div class="p-2">
                        <h5 class="card-title my-2">
                            <%=camp.name%>
                        </h5>
                        <p class="card-text">
                            <%=camp.description.substring(0,50)%>...
                        </p>
                        <a href="/campgrounds/<%=camp._id%>" class="btn btn-info d-block">Know More</a>
                    </div>
                </div>
            </div>
        </div>
        <%});%>
        <%}else{%>
        <p class="lead">No Campgrounds submitted yet</p>
        <%}%>
    </div>
</div>
<% include ../partials/footer%>